@import url("https://fonts.googleapis.com/css2?family=Fira+Code");
@import url("https://fonts.googleapis.com/css2?family=Exo+2");
:root {
    --ls-font-family: "Exo 2", "Fira Code", "JetBrains Mono", monospace;
    --ls-font-weight: 300;
}

@media only screen and(max-width: 479px) {
  /* Mobile (portrait). 479px and less */
  :root {
    --ls-page-text-size: 1.0em;
  }
  html, body {
    line-height: 2.0;
  }
}

@media only screen and (min-width: 480px) {
  /* Mobile (landscape). From 480px and larger */
  :root {
    --ls-page-text-size: 0.88em;
  }
}

@media only screen and (min-width: 768px) {
  /* Tablet (portrait). From 768px and larger */
  :root {
    --ls-page-text-size: 0.88em;
  }
}

@media only screen and (min-width: 1200px) {
  /* Desktop. From 1200px and lager */
  :root {
    --ls-page-text-size: 0.88em;
  }
}